{% extends 'index.html' %}
{% load static %}
{% block body %}
<body style="background-color:LightCyan">
<style>
    * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Global Styles */

/* About Section */

.about {
	background: rgb(224, 251, 222);
	background: linear-gradient(360deg, rgb(245, 255, 245) 0%, rgb(173, 252, 163) 100%);
	padding: 100px 0 20px 0;
	text-align: center;
}

.about h1 {
	font-size: 2.5rem;
	margin-bottom: 20px;
}

.about p {
	font-size: 1rem;
	color: #323030;
	max-width: 800px;
	margin: 0 auto;
}

.about-info {
	margin: 2rem 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: left;
}

.about-img {
	width: 20rem;
	height: 20rem;

}

.about-img img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	object-fit: contain;
}

.about-info p {
	font-size: 1.3rem;
	margin: 0 2rem;
	text-align: justify;
}

button {
	border: none;
	outline: 0;
	padding: 10px;
	margin: 2rem;
	font-size: 1rem;
	color: white;
	background-color: #40b736;
	text-align: center;
	cursor: pointer;
	width: 15rem;
	border-radius: 4px;
}

button:hover {
	background-color: #1f9405;
}

/* Team Section */

.team {
	padding: 30px 0;
	text-align: center;
}

.team h1 {
	font-size: 2.5rem;
	margin-bottom: 20px;
}

.team-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 15px;
	margin-top: 20px;
}

.card {
	background-color: white;
	border-radius: 6px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
	overflow: hidden;
	transition: transform 0.2s, box-shadow 0.2s;
	width: 18rem;
	height: 25rem;
	margin-top: 10px;
}

.card:hover {
	transform: translateY(-5px);
	box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}

.card-img {
	width: 18rem;
	height: 12rem;
}

.card-img img {
	width: 100%;
	height: 100%;
	object-fit: fill;
}

.card-info button {
	margin: 2rem 4rem;
}

.card-name {
	font-size: 2rem;
	margin: 10px 0;
}

.card-role {
	font-size: 1rem;
	color: #888;
	margin: 5px 0;
}

.card-email {
	font-size: 1rem;
	color: #555;
}

/* Footer */
footer {
	background-color: #222;
	color: white;
	text-align: center;
	padding: 20px 0;
}

@media (max-width: 768px) {
	nav {
		display: block;
	}

	.logo {
		text-align: center;
	}

	.nav-links {
		margin-top: 1rem;
		justify-content: space-between;
	}

	.nav-links li {
		margin-right: 0;
	}

	.about h1 {
		font-size: 2rem;
	}

	.about p {
		font-size: 0.9rem;
	}

	.about-info {
		flex-direction: column;
		text-align: center;
	}

	.about-img {
		width: 60%;
		height: 60%;
		margin-bottom: 1rem;
	}

	.about-info p {
		margin: 1rem 2rem;
	}

	.about-info button {
		margin: 1rem 2rem;
		width: 15rem;
	}

	.team {
		margin: 0 1rem;
	}
}

</style>
<br>
<br>
<!--<div align="center" style="font-size:20px" >-->
<!--<br><br>-->
<!--<h2 align="center" class="text-warning">Giving to charity strengthens personal values</h2>-->
<!--<p class="fs-5 text-black">In our research report, Why we give, a feeling of social conscience was the most widely-cited reason to give to charity.</p>-->
<!--    <p>Whatever type of charity work they supported,</p><p>-->
<!--    96% of people said they felt they had a moral duty to use what they had to help-->
<!--    others – a sentiment very much rooted in their personal values and principles.-->
<!--</p>-->
<!--<p class="fs-5 text-black">Having the power to improve the lives of others is,-->
<!--    to many people, a privilege, and one that comes with its own sense of obligation.</p>-->
<!--    <p>-->
<!--    Acting on these powerful feelings of responsibility is a great way to reinforce our own-->
<!--    personal values and feel like we are living in a way that is true to our own beliefs.</p>-->

<!--<h2 align="center" class="text-warning"> Giving is more impactful than ever</h2><br>-->
<!--<p class="fs-5 text-black">Many people are concerned that their donations to charity may be reduced by-->
<!--    tax or administrative costs</p><p>preventing the full amount from reaching the people-->
<!--    or causes they really want to help. Thankfully there are ways to make the most of every donation to charity.</p>-->
<!--<p class="fs-5 text-black">If you’re a UK taxpayer you can boost the amount of every donation you make by giving-->
<!--    through Gift Aid.</p>-->
<!--    <p> an Income Tax relief programme created to help charities get the most out-->
<!--    of the funds they receive.</p>-->
<!--<p>As Gift Aid enables the charity to recover the basic rate of tax on-->
<!--    your donation, the scheme effectively adds 25p to each £1 you give at no extra cost to you.</p>-->
<!--</div>-->


<section class="about" >
        <h1>About Us</h1>
        <p style="font-weight: bold">
          <h2 style="color:red">Online Donation Management System</h2>
          </p>
        <div class="about-info" >
            <div class="about-img" style="margin-bottom:10% ; flex-direction:row">
                <img src="https://media.istockphoto.com/id/488493770/photo/online-donate-key-on-keyboard.jpg?s=612x612&w=0&k=20&c=51W-IZ6vRbbA1bgIegmFbgQhfc7gD23LXrZ20fu8mYc=" style="width:300px;height:300px;" alt="image">
            </div>
            <div >
                <p class="fs-5 text-black">Many people are concerned that their donations to charity may be reduced by
    tax or administrative costs</p><p>preventing the full amount from reaching the people
    or causes they really want to help. Thankfully there are ways to make the most of every donation to charity.</p>
<p class="fs-5 text-black">If you’re a UK taxpayer you can boost the amount of every donation you make by giving
    through Gift Aid.</p>
    <p> an Income Tax relief programme created to help charities get the most out
    of the funds they receive.</p>
<p>As Gift Aid enables the charity to recover the basic rate of tax on
    your donation, the scheme effectively adds 25p to each £1 you give at no extra cost to you.</p>
                <button>Read More...</button>
            </div>
        </div>
    </section>

    <section class="team">
        <h1>Meet Our Team</h1>
        <div class="team-cards">

            <!-- Cards here -->
            <!-- Card 1 -->

            <div class="card">
                <div class="card-img">
                    <img src="{% static 'images/profile.jpeg' %}">
                </div>
                <div class="card-info">
                    <h2 class="card-name">Sasi venkat</h2>
                    <p class="card-role">Backend</p>
                    <p class="card-email">sasivenkat@gmail.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>

            <!-- Card 2 -->

            <div class="card">
                <div class="card-img">
                    <img src="{% static 'images/profile.jpeg'%}">
                </div>
                <div class="card-info">
                    <h2 class="card-name">DAIVALOKESH</h2>
                    <p class="card-role">Co-Founder</p>
                    <p class="card-email">daivalokesh22@com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>

            <!-- Card 3 -->

            <div class="card">
                <div class="card-img">
                    <img src="{% static 'images/profile.jpeg' %}" alt="User 3">
                </div>
                <div class="card-info">
                    <h2 class="card-name">JOE</h2>
                    <p class="card-role">Co-Founder</p>
                    <p class="card-email">Joe@example.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}