{% extends 'donarhome.html' %}
{% block 'body' %}
<h2 align="center" style="color:red">{{message}}</h2>
<h3 align="center"><u>Donor Home Page</u></h3>
<!--<div class="row" style="margin-left:40px">-->
<!--<div class="card:column" style="width: 40rem;heigth: 40rm">-->
<!--  <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRC6pHt1dg1oHIgGa2DRM0WzLZEzbVwLXuuDNrJi1t8gw&s" style="width:350px" alt="Card image cap">-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title">SANGHMITRA</h5>-->
<!--    <p class="card-text">Some quick donations to help the poor.</p>-->
<!--    <a href="{% url 'donardonations' %}" class="btn btn-primary">Donate</a>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="card:column" style="width: 40rem;heigth: 40rm">-->
<!--  <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRC6pHt1dg1oHIgGa2DRM0WzLZEzbVwLXuuDNrJi1t8gw&s" style="width:350px" alt="Card image cap">-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title">SANGHMITRA</h5>-->
<!--    <p class="card-text">Some quick donations to help the poor.</p>-->
<!--    <a href="{% url 'donardonations' %}" class="btn btn-primary">Donate</a>-->
<!--  </div>-->
<!--</div>-->
<!--  </div>-->

<div class="row" style="margin-left:40px;">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRC6pHt1dg1oHIgGa2DRM0WzLZEzbVwLXuuDNrJi1t8gw&s" style="width:350px" alt="Card image cap">
    <h5 class="card-title">SANGHMITRA</h5>
    <p class="card-text">Some quick donations to help the poor.</p>
    <a href="{% url 'donardonations' %}" class="btn btn-primary" >Donate</a>
  </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
     <div class="card-body">
       <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSFa7sO8VTW6HW4lRKK_f3zlbFPkjNnBL6s3U8RvZQ5A&s" style="width:360px" alt="Card image cap">
    <h5 class="card-title">Amarneni Foundation</h5>
    <p class="card-text">Some quick donations to help the poor.</p>
    <a href="{% url 'donardonations' %}" class="btn btn-primary">Donate</a>
  </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
     <div class="card-body">
       <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRG00ey0Gtu3wZJF32i4mQqJXpkvIC5EOHzzvUtiV6FbA&s" style="width:350px" alt="Card image cap">
    <h5 class="card-title">WAGARU</h5>
    <p class="card-text">Some quick donations to help the oldage home.</p>
    <a href="{% url 'donardonations' %}" class="btn btn-primary">Donate</a>
  </div>
    </div>
  </div>
</div>
  <br>
  <br>
<div class="row" style="margin-left:40px">
   <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3nWYbzBpkdOTsrfNwz5CixBMGZBgacO9PA1gNYOnEXA&s" style="width:350px" alt="Card image cap">
    <h5 class="card-title">SANGHMITRA</h5>
    <p class="card-text">Some quick donations to help the poor.</p>
    <a href="{% url 'donardonations' %}" class="btn btn-primary">Donate</a>
  </div>
    </div>
  </div>

  <div class="col-sm-4">
    <div class="card">
     <div class="card-body">
       <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqze7XsazOWBLH_q6QdMBVW29oAECbr7YPW31-je5EwA&s" style="width:360px" alt="Card image cap">
    <h5 class="card-title">Sadguru Foundation</h5>
    <p class="card-text">Some quick donations to help the poor.</p>
    <a href="{% url 'donardonations' %}" class="btn btn-primary">Donate</a>
  </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
     <div class="card-body">
       <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWtjHagc-N27ZWZRSDxuvRJPEhZTNighvA2DPNE9-9HA&s" style="width:350px" alt="Card image cap">
    <h5 class="card-title">Niti Ayog</h5>
    <p class="card-text">Some quick donations to help the oldage home.</p>
    <a href="{% url 'donardonations' %}" class="btn btn-primary">Donate</a>
  </div>
    </div>
  </div>

{% endblock %}